*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f4f4;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.contenedor{
    max-width:1000px;
    margin:auto;
    display:grid;
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

input,
select,
button{
    width:100%;
    padding:10px;
    margin-top:10px;
}

button{
    border:none;
    background:#1976d2;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#0d47a1;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

ul{
    margin-top:10px;
}

li{
    margin-bottom:10px;
}
